{% extends 'base.html' %}

{% block content %}
    <br></br>   

        <h2>Player Records</h2>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">POS</th>
                <th scope="col">TEAM</th>
                <th scope="col">GP</th>
                <th scope="col">MPG</th>
                <th scope="col">FG%</th>
                <th scope="col">FT%</th>
                <th scope="col">3PM</th>
                <th scope="col">RPG</th>
                <th scope="col">APG</th>
                <th scope="col">STLPG</th>
                <th scope="col">BLKPG</th>
                <th scope="col">TOPG</th>
                <th scope="col">PPG</th>
                <th scope="col">SAL</th>
              </tr>
            </thead>
            <tbody>
        
            {% if records %}
                {% for record in records %}
                  <tr>
                    <td>{{ record.id }}</td>
                    <td>
                      <a href="{% url 'player details' player_id=record.id %}">{{ record.first_name }} {{ record.last_name }} {{ record.suffix }}</a>
                    </td>
                    <td>{{ record.pos }}</td>
                    <td>
                      <a href="{% url 'teams roster' team_name=record.team %}">{{ record.team }}</a>
                    </td>
                    <td>{{ record.gp }}</td>
                    <td>{{ record.mpg }}</td>
                    <td>{{ record.fg_pct }}</td>
                    <td>{{ record.ft_pct }}</td>
                    <td>{{ record.threes_made }}</td>
                    <td>{{ record.rpg }}</td>
                    <td>{{ record.apg }}</td>
                    <td>{{ record.stpg }}</td>
                    <td>{{ record.blkpg }}</td>
                    <td>{{ record.topg }}</td>
                    <td>{{ record.ppg }}</td>
                    <td>$ {{ record.format_salary }}</td>
                  </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <center>
            <a href="{% url 'players table' page_number=1 %}">1</a>
            <a href="{% url 'players table' page_number=2 %}">2</a>
            <a href="{% url 'players table' page_number=3 %}">3</a>
            <a href="{% url 'players table' page_number=4 %}">4</a>
            <a href="{% url 'players table' page_number=5 %}">5</a>
            <a href="{% url 'players table' page_number=6 %}">6</a>
            <a href="{% url 'players table' page_number=7 %}">7</a>
            <a href="{% url 'players table' page_number=8 %}">8</a>
            <a href="{% url 'players table' page_number=9 %}">9</a>
            <a href="{% url 'players table' page_number=10 %}">10</a>
            <a href="{% url 'players table' page_number=11 %}">11</a>
            <a href="{% url 'players table' page_number=12 %}">12</a>
            <a href="{% url 'players table' page_number=13 %}">13</a>
            <a href="{% url 'players table' page_number=14 %}">14</a>
            <a href="{% url 'players table' page_number=15 %}">15</a>
            <a href="{% url 'players table' page_number=16 %}">16</a>
            <a href="{% url 'players table' page_number=17 %}">17</a>
        </center>
{% endblock %}