{% extends 'base.html' %}

{% block content %}

<h1>{{ player_record.first_name }} {{ player_record.last_name }} {{ player_record.suffix }}</h1>
    <div>Points Per Game: {{ player_record.ppg }}</div>    
    <div>Assists Per Game: {{ player_record.apg }}</div>
    <div>Rebounds Per Game: {{ player_record.rpg }}</div>
    <div>Position: {{ player_record.pos }}</div>
    <div>Team: <a href="{% url 'teams roster' team_name=player_record.team %}">{{ player_record.team }}</a></div>
    <div>Season 2023/ 2024 Salary: $ {{ player_record.format_salary }}</div>
{% endblock %}